@charset "UTF-8";
body {
  font-family: "Pangolin", cursive;
  background: linear-gradient(white, black);
  background-size: cover;
  background-repeat: no-repeat;
}

.Nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.Nav .navbar {
  align-items: center;
  z-index: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.507);
}

.Acceuil {
  position: relative;
}
.Acceuil .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.Acceuil .carousel .carousel-inner {
  height: 100vh;
}
.Acceuil .carousel .carousel-item {
  height: 100vh;
  width: 100%;
}
.Acceuil .main {
  width: 100%;
  white-space: nowrap;
  z-index: 0;
  top: 300px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.Acceuil .main .main-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
}
.Acceuil .main .main-heading-primary {
  display: block;
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: 1.5vw;
  animation: moveInLeft 1s ease-out;
}
.Acceuil .main .main-heading-secondary {
  font-family: sans-serif;
  display: block;
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1vw;
  color: black;
  animation: moveInRight 1s ease-out;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.Acceuil .Cards {
  margin-top: 10%;
}
.Acceuil .Cards .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  margin-top: 5vh;
  width: 55vw;
  height: 45vh;
}
.Acceuil .Cards .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 30px;
}
.Acceuil .Cards .container:hover .overlay {
  display: block;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
}
.Acceuil .Cards img {
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.Acceuil .Cards h1 {
  position: absolute;
  margin-left: 10%;
  top: 40%;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top 0.5s ease;
}
.Acceuil .Cards .title {
  position: absolute;
  margin-left: 10%;
  top: 50%;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  z-index: 1;
  transition: top 0.5s ease;
}
.Acceuil .Cards .container:hover .title {
  top: 90px;
}
.Acceuil .Cards .container:hover h1 {
  top: 60px;
}
.Acceuil .Cards .button {
  position: absolute;
  width: 20%;
  left: 10%;
  top: 65%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.Acceuil .Cards .button a {
  width: 20vw;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
  white-space: nowrap;
}
.Acceuil .Cards .container:hover .button {
  opacity: 1;
}
.Acceuil .divObscur {
  display: flex;
  justify-content: center;
}
.Acceuil .listDestinations {
  align-content: center;
  width: 400px;
  height: 150px;
  background-color: rgba(71, 114, 194, 0.363);
  text-align: center;
  border-radius: 10%;
}
.Acceuil .listDestinations h2 {
  margin-top: 3%;
  color: white;
  margin-bottom: 5%;
  font-size: 3rem;
  font-weight: 400;
  background-attachment: scroll;
}

.Inscription {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(https://cdn.futura-sciences.com/buildsv6/images/wide1920/1/6/a/16ab689d14_111716_sable-plage.jpg);
  background-size: cover;
  background-position: center;
}
.Inscription h1 {
  margin-top: 10px;
  color: white;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 3rem;
}
.Inscription label {
  margin-bottom: 30px;
  color: white;
  font-size: 1.5rem;
}
.Inscription input {
  margin-bottom: 50px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #56BAC5;
  width: 20vw;
}
.Inscription input::placeholder {
  color: white;
  text-align: center;
  font-size: 1rem;
}
.Inscription button {
  margin-bottom: 10%;
  width: 100px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 10%;
  color: white;
  font-size: 1rem;
}
.Inscription .AdminIns {
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 15%;
  height: 500px;
  width: 500px;
  margin-left: 10%;
  text-align: center;
  margin-top: 15%;
  margin-right: 10%;
}
.Inscription .AdminCo {
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 15%;
  height: 500px;
  width: 500px;
  text-align: center;
  margin-top: 15%;
}

.AjoutTourOp {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(https://images3.alphacoders.com/105/thumb-1920-105487.jpg);
  background-size: cover;
  background-position: center;
}
.AjoutTourOp .formAddTour {
  margin-top: 10%;
  text-align: center;
  height: 700px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 15%;
  margin-bottom: 10%;
}
.AjoutTourOp .formAddTour h2 {
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}
.AjoutTourOp .formAddTour label {
  margin-bottom: 2%;
  color: white;
  font-size: 1.5rem;
}
.AjoutTourOp .formAddTour input {
  margin-bottom: 5%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #56BAC5;
}
.AjoutTourOp .formAddTour input::placeholder {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}
.AjoutTourOp .formAddTour .file {
  color: white;
}
.AjoutTourOp .formAddTour .file::placeholder {
  color: white;
}
.AjoutTourOp .formAddTour button {
  margin-bottom: 10%;
  width: 25%;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 10%;
  color: white;
}

.VideoListOpérator {
  height: 100vh;
  position: fixed;
}
.VideoListOpérator video {
  z-index: 0;
  position: fixed;
}

.ListTourOp {
  margin-bottom: 100px;
  z-index: 1;
  width: 99vw;
  height: 50vh;
  background-attachment: fixed;
}
.ListTourOp .divVide {
  width: 100%;
  height: 10%;
}
.ListTourOp .title {
  width: 55%;
  height: 35%;
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-top: 10%;
}
.ListTourOp .cardOp {
  width: 50vw;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.466);
  font-family: "Oswald", sans-serif;
  border-radius: 30px;
  padding: 5vw;
  transform: scale(1);
  transition-duration: 500ms;
  margin-top: 400px;
  padding-bottom: 100px;
}
.ListTourOp .cardOp h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: -10%;
  font-family: "Dancing Script", cursive;
}
.ListTourOp .cardOp h3 {
  color: white;
  margin-top: 10%;
  font-size: 1rem;
}
.ListTourOp .cardOp .Link {
  font-size: 1rem;
  color: white;
}
.ListTourOp .cardOp p {
  font-size: 1rem;
  color: white;
}
.ListTourOp .cardOp .col-sm-4 {
  text-align: center;
}
.ListTourOp .cardOp button {
  margin-left: 5%;
  margin-top: 3%;
  background-color: transparent;
  border-radius: 30%;
  border: none;
  margin-right: 4%;
  height: 4vw;
  font-size: 1rem;
  color: white;
  transition-duration: 500ms;
}
.ListTourOp .cardOp button a {
  text-decoration: none;
  color: white;
}
.ListTourOp .cardOp button:hover {
  background-color: green;
}
.ListTourOp .cardOp .SupOp:hover {
  background-color: red;
}
.ListTourOp .cardOp .ModifOp:hover {
  background-color: orange;
}
.ListTourOp .cardOp:hover {
  transform: scale(1.1);
}

.getlogo img {
  width: 15vw;
  margin-top: 10%;
}

.createDestination {
  width: 99vw;
  height: 100vh;
  background-image: url(https://images6.alphacoders.com/526/thumb-1920-526622.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.createDestination .CreateDest {
  width: 400px;
  height: 550px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 15%;
  margin-top: 15%;
}
.createDestination .CreateDest h2 {
  margin-top: 10%;
  color: white;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 3rem;
}
.createDestination .CreateDest label {
  margin-bottom: 5%;
  color: white;
  font-size: 1.5rem;
}
.createDestination .CreateDest input {
  margin-bottom: 5%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #56BAC5;
}
.createDestination .CreateDest input::placeholder {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}
.createDestination .CreateDest button {
  margin-bottom: 10%;
  width: 25%;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 10%;
  color: white;
}

.Index2 {
  width: 99vw;
  height: 100vh;
  background-image: url(https://vistapointe.net/images/tropical-5.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Index2 .title {
  text-align: center;
  width: 500px;
  height: 700px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.486);
}
.Index2 .title h1 {
  margin-top: 20%;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}
.Index2 .title h2 {
  margin-top: 10%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.Index2 .title h4 {
  margin-top: 10%;
  font-size: 1.5rem;
  color: white;
}
.Index2 .title img {
  width: 5vw;
}

.Modify {
  width: 100vw;
  height: 100vh;
  background-image: url(https://www.teahub.io/photos/full/2-27431_1920x1080-tropical-wallpapers-tropical-hd-background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-position: center;
}
.Modify .formModify {
  text-align: center;
  width: 350px;
  height: 800px;
  background-color: #00000075;
  border-radius: 15%;
  margin-top: 5%;
}
.Modify .formModify h2 {
  margin-top: 10%;
  color: white;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 3rem;
}
.Modify .formModify label {
  margin-bottom: 5%;
  color: white;
  font-size: 1.5rem;
}
.Modify .formModify input {
  margin-bottom: 5%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #56BAC5;
}
.Modify .formModify input::placeholder {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}
.Modify .formModify button {
  margin-bottom: 10%;
  width: 25%;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 10%;
  color: white;
}

.detail_operator {
  background-image: url(https://www.australietours.com/wp-content/uploads/2016/07/7-Queensland-Lizard-Island-Plage-hd.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 100%;
}
.detail_operator .content {
  width: 90%;
  margin-left: 5%;
  padding-top: 12%;
}
.detail_operator .content .affichage_to {
  color: white;
}
.detail_operator .content .destination {
  min-width: 300px;
  min-height: 150px;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  margin-right: 10%;
}
.detail_operator .content img {
  border-radius: 10px;
  width: 90%;
  height: 30vh;
  left: 0;
}
.detail_operator .content .affichage_to {
  padding-left: 10%;
}
.detail_operator .content .operator_description {
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 20px;
  width: 80%;
  padding: 10px;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}
.detail_operator .content .link {
  text-decoration: none;
  color: white;
}
.detail_operator .content .link:hover {
  text-decoration: none;
  color: aqua;
}
.detail_operator .content .destination_description {
  position: relative;
  top: -7rem;
  margin-left: 5%;
}
.detail_operator .content .affichage_review {
  color: white;
  padding-left: 10%;
}
.detail_operator .content .review {
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 20px;
  width: 80%;
  padding: 10px;
  margin-top: 2%;
}
.detail_operator .content .form_review {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 20px;
  padding: 10px;
}
.detail_operator .content .form_review input {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.detail_operator .content .form_review textarea {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 2vh;
}
.detail_operator .content .form_review select {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.detail_operator .content .form_review option {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}
.detail_operator .content .form_review button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-color: white;
}
.detail_operator .content .form_review button:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.Footer {
  width: 100%;
  height: 20vh;
  background-color: #000000;
}
.Footer .social_links {
  padding: 1rem;
  background: #000000;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Footer .social_links .combo {
  transform: scale(0.9);
  transition: 0.4s ease-in;
  margin: 0 0.5rem;
  height: 3em;
  width: 3em;
  line-height: 3em;
}
.Footer .combo .circle {
  color: #f9f9f9;
  transition: 0.4s ease-in;
  font-size: 3em;
}
.Footer .combo .icon {
  color: #434444;
  font-size: 2rem;
  transform: translateY(1px);
  transition: 0.2s ease-in;
}
.Footer .combo:hover {
  transform: scale(1.1);
}
.Footer .combo:hover, .Footer .combo:hover .icon {
  color: white;
}
.Footer .ig:hover, .Footer .ig:hover .circle {
  color: #e91e63;
}
.Footer .fb:hover, .Footer .fb:hover .circle {
  color: #2196f3;
}
.Footer .yt:hover, .Footer .yt:hover .circle {
  color: #f44336;
}
.Footer .tw:hover, .Footer .tw:hover .circle {
  color: #2196f3;
}
.Footer .gt:hover, .Footer .gt:hover .circle {
  color: #1f1f1f;
}
.Footer .mention {
  margin-top: 5%;
  text-align: center;
  color: white;
}
.Footer .mention h1 {
  padding-top: 2%;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 0.7rem;
}
.Footer .mention p {
  font-size: 0.9rem;
}

/*# sourceMappingURL=custom.css.map */
