body{
    font-family: 'Pangolin', cursive;
    background: linear-gradient(white,black);
    background-size: cover;
    background-repeat: no-repeat;
}

// NAVBAR //

.Nav{
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
    .navbar{
        align-items: center;
        z-index: 1;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.507);
    }
}

// INDEX //

.Acceuil{
    position: relative;
    .carousel{
        margin-top:0 ;
        height: 100vh;
        position: relative;
        z-index: 0;
        .carousel-item{
            height: 100%;
            margin-top: -5%;
        }   
    }

    .main{
        width: 99vw;
        margin-left: 50%;
        margin-top: -25%;
        z-index: 0;
        position:absolute;
        transform: translate(-50%, -50%);
        @import 'title.scss';
    }

    .Cards{
        margin-top: 5%;
        @import 'cardsDestination.scss';
        
    }

    .listDestinations{
        width: 40%;
        height: 40%;
        background-color: rgba(71, 114, 194, 0.363);
        text-align: center;
        margin-left: 30%;
        border-radius: 10%;
        
        h2{
            margin-top:3%;
            color: rgb(255, 255, 255);
            margin-bottom: 5%;
            font-size: 3rem;
            font-weight: 400;
            background-attachment: scroll;
        }
    }
}

// PAGE INSCRIPTION - CONNEXION //

.Inscription{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://cdn.futura-sciences.com/buildsv6/images/wide1920/1/6/a/16ab689d14_111716_sable-plage.jpg);
    background-size: cover;

    h1{
        margin-top: 10%;
        color: white;
        margin-bottom:5%;
        font-weight: bold;
        font-size: 3rem;
    }

    label{
        margin-bottom:5%;
        color: white;
        font-size: 1.5rem;
    }
    
    input{
        margin-bottom:5%;
        background: transparent;
        border: none;
        border-bottom: 2px solid #56BAC5;
        
    }

    input::placeholder{
        color: white;
        text-align: center;
        font-size: 0.9rem;
    }

    button{
        margin-bottom:10%;
        width: 25%;
        height:5vh;
        background-color: rgba(0, 0, 0, 0.432);
        border-radius: 10%;
        color: white;
    }


    .AdminIns {
        background-color: rgba(0, 0, 0, 0.295);
        border-radius: 15%;
        height: 50%;
        width: 25%;
        margin-left: 10%;
        text-align: center;
        margin-top: 15%;
        margin-right: 10%;
    }

    .AdminCo {
        background-color: rgba(0, 0, 0, 0.295);
        border-radius: 15%;
        height: 50%;
        width: 25%;
        text-align: center;
        margin-top: 15%;
    }
}

// PAGE AJOUT TOUR OPERATOR //

.AjoutTourOp{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(https://images3.alphacoders.com/105/thumb-1920-105487.jpg);
    background-size: cover;

    .formAddTour{
        margin-top: 7%;
        text-align: center;
        height: 75%;
        width: 25%;
        background-color: rgba(0, 0, 0, 0.295);
        border-radius: 15%;

        h2{
            margin-top: 10%;
            margin-bottom: 10%;
            color: white;
            font-weight: bold;
            font-size: 2.5rem;
        }

        label{
            margin-bottom:2%;
            color: white;
            font-size: 1.5rem;
        }

        input{
            margin-bottom:5%;
            background: transparent;
            border: none;
            border-bottom: 2px solid #56BAC5;
        }

        input::placeholder{
            color: white;
            text-align: center;
            font-size: 0.9rem;
        }

        .file{
            color: white;
        }

        .file::placeholder{
            color: white;
        }

        button{
            margin-bottom:10%;
            width: 25%;
            height:5vh;
            background-color: rgba(0, 0, 0, 0.432);
            border-radius: 10%;
            color: white;
        }
    }
}

// PAGE LIST OPERATOR //


.VideoListOpérator{
    width: 99vw;
    height: 100vh;

        video{
            width: 100%;
            
            position: fixed;
        }

        .ListTourOp{
            width: 99vw;
            height: 50vh;
            background-attachment: fixed;
        
            .divVide{
                width: 100%;
                height:10%;
            }

            .title{
                width: 55%;
                height: 35%;
                display: flex;
                align-items: center;
                margin-left: 25%;
                margin-top: 10%;
            }

            .cardOp{
                width: 50vw;
                height: 20vw;
                background-color:rgba(0, 0, 0, 0.466);
                font-family: 'Oswald', sans-serif;
                border-radius: 30px;
                padding: 5vw;
                transform: scale(1);
                transition-duration: 500ms;
            
                h2{
                    color: rgb(255, 255, 255);
                    font-size: 3rem;
                    text-align: center;
                    margin-top: -10%;
                    font-family: 'Dancing Script', cursive;
                }

                h3{
                    color: rgb(255, 255, 255);
                    margin-top: 10%;
                    font-size: 1rem;
                }

                .Link{
                    font-size: 1rem;
                    color: rgb(255, 255, 255);
                }

                p{
                    font-size: 1rem;
                    color: rgb(255, 255, 255);
                }

                .col-sm-4{
                    text-align: center;
                }

                button{
                    margin-left: 5%;
                    margin-top: 3%;
                    background-color: transparent;
                    border-radius: 30%;
                    border:none;
                    margin-right: 4%;
                    height: 4vw;
                    font-size: 1rem;
                    color: rgb(255, 255, 255);
                    transition-duration: 500ms;
                    a{
                        
                        text-decoration: none;
                        color: white;
                    }
                }

                button:hover{
                    background-color: green;
                }
                .SupOp:hover{
                    background-color: red;
                }
                .ModifOp:hover{
                    background-color: orange;
                }
            }

        .cardOp:hover{
            
            transform: scale(1.1);
            
        }
    }
}



.getlogo{
    img{ 
        width: 15vw;
        margin-top: 10%;
    }
    

   
}

// PAGE CREER UNE DESTINATION //

.createDestination{
    width: 99vw;
    height: 100vh;
    background-image: url(https://images6.alphacoders.com/526/thumb-1920-526622.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    .CreateDest{
        width: 20%;
        height : 55%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.295);
        border-radius: 15%;
        margin-top: 15%;

        h2{
            margin-top: 10%;
            color: white;
            margin-bottom:5%;
            font-weight: bold;
            font-size: 3rem;
        }

        label{
            margin-bottom:5%;
            color: white;
            font-size: 1.5rem;
        }

        input{
            margin-bottom:5%;
            background: transparent;
            border: none;
            border-bottom: 2px solid #56BAC5;
            
        }
    
        input::placeholder{
            color: white;
            text-align: center;
            font-size: 0.9rem;
        }
    
        button{
            margin-bottom:10%;
            width: 25%;
            height:5vh;
            background-color: rgba(0, 0, 0, 0.432);
            border-radius: 10%;
            color: white;
        }
    }
}

// INDEX 2 //

.Index2{
    width: 99vw;
    height: 100vh;
    background-image: url(https://vistapointe.net/images/tropical-5.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title{
        text-align: center;
        width: 40%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.486);
        h1{
            margin-top: 20%;
            font-size: 5rem;
            font-weight: bold;
            color: white;
        }
        h2{
            margin-top: 10%;
            font-size: 2rem;
            font-weight: bold;
            color: white; 
        }
        h4{
            margin-top: 10%;
            font-size: 1.5rem;
            color: white;
        }
        img{
            width: 5vw;
        }
    }
}

// PAGE MODIFY //

.Modify{
    width: 100vw;
    height: 100vh;
    background-image: url(https://www.teahub.io/photos/full/2-27431_1920x1080-tropical-wallpapers-tropical-hd-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .formModify{
        text-align: center;
        width: 25%;
        height: 80%;
        background-color: #00000075;
        border-radius: 15%;
        margin-top: 5%;


        h2{
            margin-top: 10%;
            color: white;
            margin-bottom:5%;
            font-weight: bold;
            font-size: 3rem;
        }

        label{
            margin-bottom:5%;
            color: white;
            font-size: 1.5rem;
        }

        input{
            margin-bottom:5%;
            background: transparent;
            border: none;
            border-bottom: 2px solid #56BAC5;
            
        }
    
        input::placeholder{
            color: white;
            text-align: center;
            font-size: 0.9rem;
        }
    
        button{
            margin-bottom:10%;
            width: 25%;
            height:5vh;
            background-color: rgba(0, 0, 0, 0.432);
            border-radius: 10%;
            color: white;
        }
    }
}

// DETAIL OPÉRATOR //

.detail_operator{
    background-image: url(https://www.australietours.com/wp-content/uploads/2016/07/7-Queensland-Lizard-Island-Plage-hd.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    
    .content{
        width: 90%;
        margin-left: 5%;
        padding-top: 12%;
    
        .affichage_to{
        width: 50%;
        color: white;
        }

        .destination{
            
            font-family: 'Oswald', sans-serif;
            border-radius: 10px;
            margin-right: 10%;
        }

        img{
            border-radius: 10px;
            width: 90%;
            height: 30vh;
            left: 0;
        }

        .affichage_to{
            padding-left: 10%;
        }

        .operator_description{
            background-color:rgba(0, 0, 0, 0.466);
            border-radius: 20px;
            width: 80%;
            padding: 10px;
            margin-top: 2%;
            margin-bottom: 5%;
            text-align: center;
        }

        .link{
            text-decoration: none;
            color: white;
        }

        .link:hover{
            text-decoration: none;
            color: aqua;
        }


        .destination_description{
            position: relative;
            top: -7rem;
            margin-left: 5%;
        }


        .affichage_review{
            width: 50%;
            color: white;
            padding-left: 10%;
        }

        .review{
            background-color:rgba(0, 0, 0, 0.466);
            border-radius: 20px;
            width: 80%;
            padding: 10px;
            margin-top: 2%;
        }

        .form_review{
            
            width: 80%;
            background-color:rgba(0, 0, 0, 0.466);
            border-radius: 20px;
            padding: 10px;
        }

        .form_review input {
            background-color:rgba(0, 0, 0, 0);
            color: white;
        }

        .form_review textarea{
            background-color:rgba(0, 0, 0, 0);
            color: white;
            height: 2vh;
        }

        .form_review select{
            background-color:rgba(0, 0, 0, 0);
            color: white;
        }

        .form_review option{
            background-color:rgba(0, 0, 0, 0);
            color: black;
        }

        .form_review button{
            background-color:rgba(0, 0, 0, 0);
            color: white;
            border-color: white;
        }

        .form_review button:hover{
            background-color:white;;
            color: black;
            border-color: white;
        }
    }
}

// FOOTER //

.Footer{
    @import '../css/footer.scss';
    width: 100%;
    height: 20vh;
    background-color: #000000;
    .mention{
        margin-top: 5%;
        text-align: center;
        color: white;

        h1{
            padding-top: 2%;
            font-weight: 500;
            font-size: 2rem;
            letter-spacing: 1px;
            word-spacing: 2px;
            margin-bottom: 0.7rem;
        }
        p{
            font-size: 0.9rem;
        }
    }
    
}